@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url(//db.onlinewebfonts.com/c/81782c93d67441abaf973d576bb81514?family=Museo+Sans+Rounded+500);
:root {
  --cyanp: #03dac6;
  --greenp: #34ff1d;
  --cyanpdark: #45a29e;
  --Tlium: "Titillium Web";
  --Museo: "Museo Sans Rounded 500";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  overflow: hidden;
}
@keyframes slidein {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}
@keyframes slideout {
  from {
    right: 0px;
  }
  to {
    right: -300px;
  }
}
/*Animation for show and hide of the side navbar*/
.showsidenavbar {
  right: 0px;
  animation: slidein ease-in-out 0.1s;
}
.hidesidenavbar {
  right: -300px;
  animation: slideout ease-in-out 0.1s;
}

.headercontainer {
  position: fixed;
  right: 0px;
}
.header {
  width: 80px;
  height: 100vh;
  background-color: #0b0c10;
  position: fixed;
  display: flex;
  align-items: flex-end;
}

/*navbarhamburger layout and animation*/
.navbarhamburger {
  position: fixed;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 50px;
  margin: 15px;
  z-index: 99 !important;
  cursor: pointer;
}
.show .navbarhamburger-lines {
  transform: translateX(-50px);
  background: none;
}
.show .navbarhamburger-lines::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.show .navbarhamburger-lines::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.navbarhamburger-lines {
  width: 100%;
  height: 13%;
  background-color: white;
  border-radius: 100px;
  transition: ease-in-out 0.5s;
}
.navbarhamburger-lines::before,
.navbarhamburger-lines::after {
  content: " ";
  position: absolute;
  display: block;
  width: 3em;
  background-color: white;
  border-radius: 100px;
  transition: ease-in-out 0.5s;
}
.navbarhamburger-lines::before {
  transform: translateY(-11px);
  height: 0.4em;
}
.navbarhamburger-lines::after {
  transform: translateY(11px);
  height: 0.36em;
}

/*navbar layout*/
.navbar {
  width: 100%;
  margin-bottom: 100px;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.navbar ul li {
  font-family: "Museo Sans rounded 500";
  font-weight: normal;
  font-size: 1.3rem;
  text-transform: uppercase;
  line-height: 3em;
  text-align: center;
  color: #c5c6c7;
}
/*landing page content*/
.landingpage {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 150px;
  width: 100vw;
}
.author {
  line-height: 1em;
}
.author h2 {
  color: var(--greenp);
  font-family: var(--Tlium);
  font-size: 2rem;
  font-weight: normal;
}
.headtitle {
  height: 6.5em;
}
.headtitle h1 {
  color: var(--cyanp);
  font-family: var(--Museo);
  font-size: 4rem;
  font-weight: normal;
}
.headtitle span {
  font-size: 3.5rem;
  position: relative;
  bottom: 0.5em;
}
.tagline p {
  color: var(--cyanpdark);
  font-family: var(--Tlium);
  font-size: 1.2rem;
}
