/*Practice*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
#navbarhamburger {
  position: fixed;
  right: 0px;
}
.navbar {
  position: absolute;
  right: 0px;
  bottom: 40vh;
}
.navbar ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: green;
  padding-right: 20px;
}
.navbar ul li {
  font-family: Tw Cen MT;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 50px;
}
#navbarhamburger {
  width: 100px;
  height: 100px;
  background-color: red;
}
